<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Article</title>
</head>
<body>
    <h1>My Articles List</h1>
    <div id="todo-table">
        <form method="POST" action="/articles/add">
            <input type="text" name="title" placeholder="Add an title" required>
            <input type="text" name="author" placeholder="Add an author" required>
            <input type="textarea" name="body" placeholder="Describe" required>
            <button type="submit">Add Article</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>