<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Knowledge Base</title>
</head>
<body>
    <a href="/articles/add"><button style="font-size: 30px;">Add Article</button></a>
    <h1>My Articles List</h1>
    <div id="todo-table">
        <ul>
            <% articles.forEach((article)=>{%>
                <a href="/article/<%= article._id %>" ><li><%= article.title %></li></a>
            <% }); %>
            
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
</body>
</html>